{% extends 'base.html' %}
{% block metadescription %}
<title>Blog Post links</title>
<meta name="description"
	content="Welcome to Leannes Learners, Blog Home Page - here you can find our most recent posts">
{% endblock %}

{% block content %}

<section>
	<div class="container-fluid col-10">
		<div class="row">

			<!-- Blog Entries Column -->
			<div class="col-12 mt-3 left">
				<h1 class="section-header">Blog</h1>
				<p class="mt-3">Get into the fast lane with our tips for choosing the right driving instructor, making
					the most of your lessons & becoming a safer driver</p>
				<hr>
				<!-- Blog Nav filter -->
				{% include "layout/navbar-catagories.html" %}
				<!-- Blog Post card -->
				<div class="row">
					{% for post in post_list %}
					<div class="col-md-4">
						<div class="card mb-4">
							{% include "components/blog/post-detail-card.html" %}
						</div>
					</div>
					{% if forloop.counter|divisibleby:3 %}
					<!-- if counter divisable by three, close the row and start a new one-->
				</div>
				<div class="row">
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% if is_paginated %}
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				{% if page_obj.has_previous %}
				<li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
				{% endif %}
				{% if page_obj.has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

				{% endif %}
			</ul>
		</nav>
		{% endif %}
	</div>
</section>

{%endblock%}