{% extends "base.html" %}
{% block title %}Leannes Learners - New Blog Post{% endblock %}
{% block content %}

<section>
	<div class="container-fluid col-10">
		<div class="row">
			<!-- Blog Entries Column -->
			<div class="col-12 mt-3 left">
				<h1 class="section-header">Add a new Blog Post</h1>
				<div class="row">
					<form method="POST">
						{% csrf_token %}
						{{ form.as_p }}

						<button class="btn btn-primary">Submit</button>
					</form>

				</div>
			</div>
		</div>

	</div>
</section>
{%endblock%}