{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block metadescription %}
<meta name="keywords"
	content="Driving School, Driving Lessons, Learn to Drive, Huddersfield, HD4, Female Driving School, Female Driving Instructor, Blog">
<meta name="description" content="Leannes Learners, edit a blog post">
<title>Edit a Blog Post</title>
{% endblock %}

{% block content %}
<section>
	<div class="container-fluid col-10">
		<div class="row">
			<!-- Blog Entries Column -->
			<div class="col-12 mt-3 ">
				<h1 class="section-header">Edit Blog Post</h1>
				<div
					class="row col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 mt-3  img-radius-10 bg-white my-4">
					<div class="form-group">
						<form method="POST">
							{% csrf_token %}
							{{ form|crispy }}
							<button class="btn btn-primary mb-5">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{%endblock%}