{% extends "base.html" %}
{% block metadescription %}
<title>Post - {{post.title}}</title>
<meta name="description"
	content="{{post.title|safe|truncatechars:50 }} - {{post.content|striptags|safe|truncatechars:100 }}">
{% endblock %}

{% block content %}
<div class="post-detail-header col-12">
	<div class="container col-md-12 ms-auto">
		<div class="row align-items-end">
			<div class="col-md-7 p-3 ">
				<h1 class="post-detail-title">{{ post.title }}</h1>
				<hr class="post-detail-h-rule">
				<p class="post-detail-subtitle">Post Category - {{ post.category }} <br>
					{{ post.author }} | {{ post.updated_at | date:"d F Y" }}
					{% if user.is_staff %}
					<a href="{% url 'post-update' post.slug %}"> <i class="far fa-edit"></i></a>
					<a href="{% url 'post-delete' post.slug %}"> <i class="fas fa-trash"></i></a>
					{% endif %}
				</p>

			</div>

			<div class="d-none d-md-block col-md-5 ms-auto post-detail-header-image">
				<!-- The featured image URL goes in the src attribute -->
				{% if "placeholder" in post.featured_image.url %}
				<img class="alt-text-white"
					src="https://res.cloudinary.com/dkitley1975/image/upload/v1643781954/leannes_learners/default_image/default_blog_image.jpg"
					alt="Missing image - default placeholder">
				{% else %}
				<img class="alt-text-white" src=" {{ post.featured_image.url }}" alt="{{ post.alt_tag }}">
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container col-md-8 ms-auto">
	<div class="row">
		<!-- Blog Nav filter -->
		{% include "layout/navbar-catagories.html" %}
		<div class="col card mb-4 mt-3 img-radius-10 bg-white">
			<div class="card-body card-text">
					{{ post.content | safe }}
				<div class="row">
					<hr class="feature-rule mt-3">
					{% include "components/blog/post-likes-and-comments-count.html" %}
				</div>
				<div class="row">
					{% include "components/blog/post-author-bio.html" %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="card mb-4 p-3 mt-3  img-radius-10 bg-white">
			{% include "components/blog/comment-modal.html" %}
			{% include "components/blog/comments.html" %}
		</div>
	</div>
</div>
{% endblock content %}