{% extends "base.html" %}
{% block title %}Leannes Learners - Blog{% endblock %}
{% block content %}

<div class="blog-post-header col-12">
	<div class="container col-md-12 ms-auto">
		<div class="row align-items-end">
			<div class="col-md-7 p-3 ">
				<h1 class="blog-post-title">{{ post.title }}</h1>
				<hr class="blog-post-h-rule">
				<p class="blog-post-subtitle">Post Category - {{ post.category }} <br>
					{{ post.author }} | {{ post.created_at }}
					{% if user.is_staff %}
					<a href="{% url 'update-post' post.slug %}"> <i class="far fa-edit"></i></a>
					<a href="{% url 'delete-post' post.slug %}"> <i class="fas fa-trash"></i></a>
					{% endif %}
				</p>

			</div>

			<div class="d-none d-md-block col-md-5 ms-auto blog-post-header-image">
				<!-- The featured image URL goes in the src attribute -->
				{% if "placeholder" in post.featured_image.url %}
				<img class="alt-text-white"
					src="https://res.cloudinary.com/dkitley1975/image/upload/v1643781954/leannes_learners/default_image/default_blog_image.jpg"
					alt="Missing image - default placeholder">
				{% else %}
				<img class="alt-text-white" src=" {{ post.featured_image.url }}" alt="{{ post.alt_tag }}">
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container col-md-8 ms-auto">
	<div class="row">
		<!-- Blog Nav filter -->
		{% include "components/blog/post-cat-nav.html" %}
		<div class="col card mb-4  mt-3 left top">

			<div class="card-body">

				<p class="card-text">
					{{ post.content | safe }}
				</p>
				<div class="row">
					<hr class="feature-rule mt-3">
					{% include "components/blog/likes-comments-count.html" %}
				</div>
				<div class="row">
					{% include "components/blog/post-author-bio.html" %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="card-body mb-4 p-3 mt-3">
			<h3>Comments:
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#leaveACommentModal">
					<i class="fa fa-comment" aria-hidden="true"> </i> Leave a comment
				</button>
			</h3>
			<!-- Modal -->
			<div class="modal fade" id="leaveACommentModal" tabindex="-1" aria-labelledby="leaveACommentModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title" id="leaveACommentModalLabel">Leave a comment:</h3>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{% load crispy_forms_tags %}
							<div class="card-body">
								{% if user.is_authenticated %}
								<p>Posting as: {{ user.username }}</p>
								<form method="post" style="margin-top: 1.3em;">
									{% csrf_token %}
									{{ comment_form | crispy }}
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-signup">Submit</button>
									</div>
								</form>
								{% else %}
								<p class="mt-4 mb-2 fw-bolder fst-italic">If you would like leave a comment.</p>
								<p>Please login to your account or register and join our community </p>
								{% endif %}
							</div>
						</div>

					</div>
				</div>
			</div>
			<hr>
			{% include "components/blog/comments.html" %}
		</div>

	</div>

</div>

{% endblock content %}