{% extends "base.html" %}
{% block metadescription %}
<title>Successful - Blog Post Creation</title>
<meta name="description" content="Leannes Learners, create a new blog post - Success">
{% endblock %}

{% block content %}
<div class="authentication-background-image-container">
  <div class="container mt-5 p-3 col-md-6 offset-md-3 authentication-input-container">
    <div class="row">

      <h2>Thanks for submitting your new blog post</h2>
      <p>a member of Admin will review the post and release it soon.</p>

    </div>
  </div>
</div>

{% endblock %}