{% extends 'base.html' %}
{% block title %}Leannes Learners - Blog{% endblock %}
{% block content %}

<div class="blog-post-header">
	<div class="container col-md-8 ms-auto">
		<div class="row align-items-end">
			<div class="col-md-7 p-3">
				<!-- Blog title goes in these h1 tags -->
				<h1 class="blog-post-title">{{ post.title }}</h1>
				<!-- Blog author goes before the | the blog's created date goes after -->
				<p class="blog-post-subtitle">{{ post.author }} | {{ post.created_at }}</p>
			</div>

			<div class="d-none d-md-block col-md-5 ms-auto blog-post-header-image">
				<!-- The featured image URL goes in the src attribute -->
				{% if "placeholder" in post.featured_image.url %}
				<img class="alt-text-white"
					src="https://res.cloudinary.com/dkitley1975/image/upload/v1640952840/leannes_learners/default_image/default_blog_image.jpg"
					alt="Missing image - default placeholder">
				{% else %}
				<img class="alt-text-white" src=" {{ post.featured_image.url }}" alt="{{ post.alt_tag }}">
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="container col-md-8 ms-auto">
	<div class="row">
		<div class="col card mb-4  mt-3 left top">
			<div class="card-body">
				<!-- The blog content goes inside the card-text. -->
				<!-- Use the | safe filter inside the template tags -->
				<p class="card-text">
					{{ post.content | safe }}
				</p>
				<div class="row">

					<div class="col-1">
						<strong>
							{% if user.is_authenticated %}
							<form class="d-inline" action="{% url 'like' post.slug %}" method="POST">
								{% csrf_token %}
								{% if liked %}
								<button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
										class="fas fa-heart"></i>
								</button>
								<span class="text-secondary">
								</span>
								{% else %}
								<button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
										class="far fa-heart"></i>
								</button>
								{% endif %}
							</form>
							{% else %}
							<span class="text-secondary"><i class="far fa-heart"></i></span>
							{% endif %}
							<span class="text-secondary text-center">
								{{ post.number_of_likes }}
							</span>
						</strong>
					</div>
					{% include "components/blog/comments-count.html" %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 card mb-4  mt-3 ">
			{% include "components/blog/comments.html" %}
		</div>
		<div class="col-md-4 card mb-4  mt-3 ">
			{% include "components/blog/leave-a-comment.html" %}
		</div>
	</div>
</div>

{% endblock content %}