<div class="sm-12 mb-12 post-detail-author-info" style=" padding: 10px;">
	{% if not post.comments.all %}
	<p>Be the first to leave a comment on {{ post.author }}'s post </p>
	{% endif %}
	{% for comment in comments %}
	{% if comment.is_parent %}
	<hr class="comment-rule mb-4">
	<div class="row justify-content-about g-0 p-2 img-radius-10">
		<!-- Parent Comment -->
		<div class="d-none d-sm-block col-sm-2 col-md-2 col-lg-1 justify-content-center pe-3">
			{% if comment.name.userprofile %}
			{% if "placeholder" in comment.name.userprofile.user_profile_image.url %}
			<img class="img-radius-10"
				src="https://res.cloudinary.com/dkitley1975/image/upload/v1644300446/leannes_learners/default_image/bio_placeholder.png"
				alt="missing image placeholder image">
			{% else %}
			<img class="img-radius-10" src=" {{ comment.name.userprofile.user_profile_image.url }}"
				alt="The comment authors profile image">
			{% endif %}
			{% else %}
			<img class="img-radius-10"
				src="https://res.cloudinary.com/dkitley1975/image/upload/v1644300446/leannes_learners/default_image/bio_placeholder.png"
				alt="missing image placeholder image">
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
			<p>
				{% if user.is_staff %}
				<a href="{% url 'comment-delete' post.slug comment.pk %}">
					<i class="fas fa-trash icon-color-primary"
						title="Delete Comment"></i>&nbsp;</a>
				{% endif %}
				<span class="fw-bold">{{ comment.name }}</span>
				<span class="text-muted">
					on {{ comment.created_at | date:"d F Y" }} at
					{{ comment.created_at | time:"h:i a" }}
				</span>
				<span class="text-muted">wrote:</span>
				{{ comment.comment | linebreaks }}
				{% include "components/blog/comments-parent-likes.html" %}
		</div>
	</div>
	{% endif %}
	<!-- end if for the parent comments-->

	<!--- Child Comments-->
	{% for child_comment in comment.children %}
	<div class="row justify-content-about g-0 p-2 img-radius-10 ms-5 my-2">
		<div class="d-none d-sm-block col-sm-2 col-md-2 col-lg-1 justify-content-center pe-3">
			{% if child_comment.name.userprofile %}
			{% if "placeholder" in child_comment.name.userprofile.user_profile_image.url %}
			<img class="img-radius-10"
				src="https://res.cloudinary.com/dkitley1975/image/upload/v1644300446/leannes_learners/default_image/bio_placeholder.png"
				alt="missing image placeholder image">
			{% else %}
			<img class="img-radius-10" src=" {{ child_comment.name.userprofile.user_profile_image.url }}"
				alt="The comment authors profile image">
			{% endif %}
			{% else %}
			<img class="img-radius-10"
				src="https://res.cloudinary.com/dkitley1975/image/upload/v1644300446/leannes_learners/default_image/bio_placeholder.png"
				alt="missing image placeholder image">
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
			<div class="comments">
				{% if user.is_staff %}
				<a href="{% url 'comment-delete' post.slug child_comment.pk %}">
					<i class="fas fa-trash icon-color-primary"
						title="Delete Comment"></i>&nbsp;</a>
				{% endif %}
				<span class="fw-bold">{{ child_comment.name }}</span>
				<span class="text-muted font-weight-normal">
					on {{ child_comment.created_at | date:"d F Y" }} at
					{{ child_comment.created_at | time:"h:i a" }}
				</span>
				<span class="text-muted">wrote:</span>
				{{ child_comment.comment | linebreaks }}
				{% include "components/blog/comments-child-likes.html" %}
			</div>
		</div>
	</div>
	{% endfor %}
	{% endfor %}
	<!--end for for the comment in comments-->
</div>