<div class="d-flex flex-row justify-content-start">
	{% if user.is_authenticated %}

	<form class="text-end" method="POST" action="{% url 'comment-dislike' post.slug comment.pk %}">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ request.path }}">

		<button class="btn" type="submit">
			<i class="fas fa-thumbs-down icon-color-quaternary">
				<span>{{ comment.number_of_comment_dislikes }}</span></i>


		</button>
	</form>
	<form class="text-end" method="POST" action="{% url 'comment-like' post.slug comment.pk %}">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ request.path }}">
		<button class="btn" type="submit">
			<i class="fas fa-thumbs-up icon-color-tertiary"> <span>{{ comment.number_of_comment_likes }}</span></i>

		</button>
	</form>
	{% include "components/blog/comment-reply-modal.html" %}
	{% else %}
	{% include "components/blog/comments-likes-parent-register-to-like-modal.html" %}
	{% endif %}



</div>