<!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#commentReplyModal{{ comment.id }}"
	name='parent_id' value="{{ comment.id }}">
	<i class="far fa-comment-dots" title="Click to leave a comment"></i></button>
<!-- Modal -->
<div class="modal fade" id="commentReplyModal{{ comment.id }}" tabindex="-1"
	aria-labelledby="commentReplyModalLabel{{ comment.id }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="commentReplyModalLabel{{ comment.id }}">Reply to Comment</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="card-body">
					{% if user.is_authenticated %}
					<p>Posting as: {{ user.username }}</p>
					<form method="post" action="{% url 'comment-reply' post.slug comment.pk %}">
						{% csrf_token %}
						<div id="div_id_comment{{ comment.id }}" class="form-group"> <label
								for="id_comment{{ comment.id }}" class="requiredField">
								Your comment</label>
							<div> <textarea name="comment" cols="40" rows="10" class="textarea form-control" required=""
									id="id_comment{{ comment.id }}"></textarea> </div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-signup">Submit</button>
						</div>
					</form>
					{% else %}
					<p class="mt-4 mb-2 fw-bolder fst-italic">If you would like leave a comment.</p>
					<p>Thank you for showing an intrest and wanting to show your appreciation/or not of the posters
						comments,</p>
					<p class="mt-1">To do so, first please login to your account or register to join our community</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>