<!-- Comments-likes-child-register-to-like-modal.html -->
<!-- Button trigger Modal Child Likes - (register) -->
<div>
	<button type="button" class="btn" data-bs-toggle="modal"
		data-bs-target="#likeModal_{{ child_comment.pk }}">
		<i class="fas fa-thumbs-down icon-color-quaternary"
			title="please login and click to dislike this Comment">
			<span>{{ child_comment.disliked.all.count }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></i>
		<i class="fas fa-thumbs-up icon-color-tertiary"
			title="please login and click to like this Comment">
			<span>{{ child_comment.liked.all.count }}</span></i>
	</button>
</div>
<!-- Modal Child Likes - (register) -->
<div class="modal fade" id="likeModal_{{ child_comment.pk }}" tabindex="-1"
	aria-labelledby="likeModalLabel_{{ child_comment.pk }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"
					id="likeModalLabel_{{ child_comment.pk }}">Show your
					appreciation:</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="mt-4 mb-2 fw-bolder">Thank you for showing an interest
					and wanting to show your
					appreciation/or not of the posters comments,</p>
				<p>Thank you for showing an interest and wanting to show your
					appreciation/or not of the posters
					comments,</p>
				<p class="mt-1">To do so, first please login to your account or
					register to join our community</p>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of Comments-likes-child-register-to-like-modal.html -->
