<div class="d-flex flex-row justify-content-end ">
	{% if not user.is_authenticated %}
	<!-- comments not authenticated -->
	<i class="far fa-comments ms-3"></i>
	<span class="text-secondary">
		{% with comments.count as total_comments %}
		&nbsp;{{ total_comments }}
		{% endwith %}
		&nbsp;&nbsp;&nbsp;
		<!-- likes not authenticated -->
		<i class="far fa-heart icon-color-quaternary" title=" login and click to like the
			Post"></i>
		&nbsp;{{ post.number_of_likes }}
	</span>

	{% else %}
	<!-- comments  authenticated -->
	<form>
		{% with comments.count as total_comments %}
		<i class="far fa-comments ms-3"></i>
		<span class="text-secondary">
			&nbsp;{{ total_comments }}&nbsp;&nbsp;
		</span>
		{% endwith %}
	</form>

	<!-- likes authenticated -->
	<form class="text-end" action="{% url 'like' post.slug %}" method="POST">
		{% csrf_token %}
		<button type="submit" name="blogpost_id" value="{{post.slug}}"
			class="btn-like">
			{% if liked %}
			<i class="fas fa-heart icon-color-quaternary"
				title="click to unlike the Post"></i>
			{% else %}
			<i class="far fa-heart icon-color-quaternary"
				title="click to like the Post"></i>
			{% endif %}
		</button>
		<span class="text-secondary">
			&nbsp;{{ post.number_of_likes }}
		</span>
	</form>
	{% endif %}

</div>