<div class="col-12 mt-3 left">
	<div class="row">
		{% for blog in blog_list %}
		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<div class="image-container">
						{% if "placeholder" in blog.featured_image.url %}
						<img class="card-img-top img-radius-10 trans-white-background-80"
							src="https://res.cloudinary.com/dkitley1975/image/upload/v1640952840/leannes_learners/default_image/Leannes-Learners-Placeholder-Image.jpg">
						{% else %}
						<img class="card-img-top img-radius-10 trans-white-background-80"
							src=" {{ blog.featured_image.url }}" alt="{{ blog.alt_tag }}">
						{% endif %}
						<div class="image-flash">
							<p class="author text-muted">Author: {{ blog.author }}</p>
						</div>
					</div>
					<a href="{% url 'blog-post' blog.slug %}" class="blog-post-link">
						<h2 class="card-title text-uppercase">{{ blog.title }}</h2>
						<p class="card-text">{{ blog.excerpt }}</p>
					</a>
					<hr />
					<p class="card-text text-muted h6">{{ blog.created_at}} <i class="far fa-heart"></i>
						{{ blog.number_of_likes }}</p>
				</div>
			</div>
		</div>
		{% if forloop.counter|divisibleby:3 %}
	</div>
	{% endif %}
	{% endfor %}
</div>