core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
dont_upload_to_github*
myenv/
*.sqlite3
*.code-workspace
.gitignore
latest.sql
.gitignore
latest.dump
templates/layout/navbar-catagories copy.html
