{% extends "base.html" %}
{% block metadescription %}
<meta name="keywords"
	content="Driving School, Driving Lessons, Learn to Drive, Huddersfield, HD4, Female Driving School, Female Driving Instructor, Blog" Blog">
<meta name="description" content="Change your passsword for the Leanne's Learners members section">
<title>Password Change</title>
{% endblock %}

{% block content %}
<!-- edit Profile Content -->
<div class="authentication-background-image-container">
	<div class="container mt-5 p-3 col-md-6 offset-md-3 authentication-input-container">
		<h1 class="section-header">Change Password</h1>
		<div class="row">
			<div class="col-md-10 mt-3 offset-md-1">
				<div class="row">
					<div class="col-md-10 mt-3 offset-md-1">
						<div class="form-group">
							<form method="POST">
								{% load crispy_forms_tags %}
								{% csrf_token %}
								{{ form | crispy }}

								<button type="submit" class="btn btn-primary ">Change Password</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}