{% extends "base.html" %}
{% block title %}Leannes Learners - Edit Profile{% endblock %}
{% block content %}
<!-- edit Profile Content -->
<div class="authentication-background-image-container">
	<div class="container mt-5 p-3 col-md-6 offset-md-3 authentication-input-container">
		<h1 class="section-header">Edit Profile</h1>
		<div class="row">
			<div class="col-md-10 mt-3 offset-md-1">
				<div class="row">
					<div class="col-md-10 mt-3 offset-md-1">
						<div class="form-group">
							<form method="POST">
								{% csrf_token %}
								<p><label for="id_username">Username:</label>
									{{ form.username }}</p>
								<p><label for="id_first_name">First Name:</label>
									{{ form.first_name }}</p>
								<p><label for="id_last_name">Last Name:</label>
									{{ form.last_name }}</p>
								<p><label for="id_email">Email:</label>
									{{ form.email }}
								</p>
								<p><span class="helptext">To change your password please use <a href="../password/">this
											form</a>.</span>
								</p>



								<button type="submit" class="btn btn-primary ">Update Profile</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}