{% extends "base.html" %}
{% block title %}Leannes Learners - Password reset email sent confirmation{% endblock %}
{% block content %}
<!-- Password reset email sent confirmation content -->
<div class="authentication-background-image-container p-3">
	<div class="container p-3 mt-5 col-md-8 offset-md-2 col-lg-6 offset-lg-3 authentication-input-container">
		<div class="row">
			<div class="p-2 col-10 offset-1">
				<p>
					We've emailed you instructions for setting your password, if an account exists with the email you entered.
					You should receive them shortly.
				</p>
				<p>
					If you don't receive an email, please make sure you've entered the address you registered with,
					and check your spam folder.
				</p>
			</div>
		</div>
	</div>
</div>
{%endblock%}