{% extends "base.html" %}

{% block metadescription %}
<meta name="keywords"
	content="Driving School, Driving Lessons, Learn to Drive, Huddersfield, HD4, Female Driving School, Female Driving Instructor, Blog">
<meta name="description"
	content="Reset your password completion for the leanne's Learners members section">
<title>Completion - Password Reset</title>
{% endblock %}

{% block content %}
<!-- Log in Content -->
<div
	class="background-image-container background-image-car-beatle-image background-image-blur p-3">
</div>
<div class="container p-3 col-md-8  col-lg-6  container-transparent-background">
	<h1 class="section-header">Password reset</h1>
	<div class="row">
		<div class="p5 col-10 offset-1">
			<p>
				Your password has been set. You may go ahead and sign in now.
			</p>
			<a href="{% url 'login' %}"
				class="btn btn-primary btn-white-outline" role="button">
				<i class="fas fa-sign-in-alt" title="Click to Sign in">
				</i> Click to Sign In</a>
		</div>
	</div>
</div>
{%endblock%}