<!--  Profile Content -->
<div class="authentication-background-image-container">
	<div class="container mt-5 p-3 col-md-6 offset-md-3">
		<h1 class="section-header">User Profile</h1>
		<div class="row">
			<div class="col-md-10 mt-3 offset-md-1">
				<div class="row">
					<div class="col-md-10 mt-3 offset-md-1">
						<article>
							<div class="card mb-12 post-detail-author-info my-3 img-radius-10">
								<div class="row justify-content-about g-0">
									<div class="col-xs-12 col-sm-12 col-md-2 justify-content-center">
										{% if users_profile_id %}
										{% if "placeholder" in users_profile_id.user_profile_image.url %}
										<img class="card-img-top post-detail-profile-image"
											src="https://res.cloudinary.com/dkitley1975/image/upload/v1644300446/leannes_learners/default_image/bio_placeholder.png"
											alt="missing image placeholder image">
										{% else %}
										<img class="card-img-top post-detail-profile-image"
											src=" {{ users_profile_id.user_profile_image.url }}"
											alt="The authors profile image">
										{% endif %}
										{% else %}
										<img class="card-img-top post-detail-profile-image"
											src="https://res.cloudinary.com/dkitley1975/image/upload/v1644300446/leannes_learners/default_image/bio_placeholder.png"
											alt="missing image placeholder image">
										{% endif %}
									</div>
									<div class="col-md-10">
										<div class="card-body">
											<h1 class="card-title post-detail-author-title">About the Author</h1>
											<h2 class="card-title post-detail-author-subtitle fw-bold">
												{{ post.author.first_name }} {{ post.author.last_name }}
											</h2>
											<p class="small text-muted post-detail-author-links" target="_blank"
												rel="noopener noreferrer">
												{% if users_profile_id %}
												<a href="{% url 'user-profile_page' users_profile_id.id %}"
													target="_blank" rel="noopener noreferrer">
													<i class="fas fa-user-circle" aria-hidden="true"></i>&nbsp;</a>
												{% endif %}

												{% if users_profile_id.user_website_url %}
												<a href="{{post.author.user_website_url}}" target="_blank"
													rel="noopener noreferrer">
													<i class="fas fa-globe" aria-hidden="true"></i>&nbsp;</a>
												{% endif %}

												{% if users_profile_id.user_linkedin_url %}
												<a href="{{post.author.user_linkedin_url}}" target="_blank"
													rel="noopener noreferrer">
													<i class="fab fa-linkedin" aria-hidden="true"></i>&nbsp;</a>
												{% endif %}

												{% if post.author.profile.user_facebook_url %}
												<a href="{{post.author.user_facebook_url}}" target="_blank"
													rel="noopener noreferrer">
													<i class="fab fa-facebook"></i>&nbsp;</a>
												{% endif %}

												{% if users_profile_id.user_twitter_url %}
												<a href="{{post.author.user_twitter_url}}" target="_blank"
													rel="noopener noreferrer">
													<i class="fab fa-twitter"></i>&nbsp;</a>
												{% endif %}
											</p>
											<p class="card-text">{{users_profile_id.user_bio}}</p>
										</div>
									</div>
								</div>

							</div>
						</article>



					</div>
				</div>
			</div>
		</div>
	</div>
</div>