{% extends "base.html" %}
{% block seo_page_title %}About Us - Leanne's Learners {% endblock %}
{% block seo_page_description %}About our company and philosophy and our instructors{% endblock %}
{% block content %}

<!-- About Us Conten -->
{% for about in about_list %}
<section class="container p-3">
	<div class="col-12 col-md-10 offset-md-1
	my-md-4 my-lg-5
card bg-white img-radius-10 justify-content-center">
		<div class="row">
			<h1 class="section-header">About Us</h1>
			<div class="col-12 mt-3 p-5">
				<p>{{ about.about_us | safe }}</p>
			</div>
		</div>
		{% endfor %}
		<!-- About Us Instructor Cards -->
		{% for instructors in instructors_list %}
		{% include "components/instructor-card.html" %}
		{% endfor %}
	</div>
</section>

{%endblock%}