{% extends "base.html" %}
{% load static %}

{% block metadescription %}
<title>Traffic Map</title>
<meta name="description"
	content="Leanne's Learners - Google Traffic Map, keep a eye on the local traffic hotspots">
{% endblock %}

{% block content %}



<!-- contact us -->

<div class="container py-3">

	<heading>
		<h1 class="section-header p-2 text-center">Huddersfield Traffic</h1>
	</heading>

	<section>

		<!-- Traffic API -->
		<div
			class="col-sm-12 col-md-12  col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 img-radius-10 trans-white-background-80 p-4">
			<div id="map" class="map"></div>

		</div>

	</section>

</div>
<script src="{% static 'js/maps.js' %}"></script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMyP_LqIDbp8HMUyMyZtQ7VCOBX2NRoMw&callback=initMap"></script>
{% endblock %}