{% extends "base.html" %}
{% block metadescription %}
<title>Pass Plus course details</title>
<meta name="description"
	content="Details on the Pass Plus Training Course, provided by Leanne's Learners - Statistics show that new drivers are more
	likely to have an accident in the first two years after passing their test. This is because of their lack of driving
	experience">
{% endblock %}

{% block content %}

<!-- Pass Plus Content -->
{% for passplus in passplus_list %}
<section class="container p-3">
	<div class="col-12 col-md-10 offset-md-1
	my-md-4 my-lg-5
card bg-white img-radius-10 justify-content-center">
		<div class="row">
			<h1 class="section-header">Pass Plus Course Details</h1>
			<div class="col-12 mt-3 p-5 row justify-content-center">
				<div class="col-12 col-md-4 col-lg-3 mt-3"><img src="{{ passplus.focus_image.url }}"
						class="img-fluid img-focus-image" alt="{{ passplus.alt_tag }}">
				</div>
				<p class="lead">{{ passplus.lead_content | safe }}</p>
				<p>{{ passplus.main_content | safe }}</p>
			</div>
		</div>
		{% endfor %}

	</div>


	</div>
</section>


{%endblock%}