{% extends "base.html" %}

{% block metadescription %}
<meta name="keywords"
  content="Driving School, Driving Lessons, Learn to Drive, Huddersfield, HD4, Female Driving School, Female Driving Instructor, Blog">
<meta name="description"
  content="Leanne's Learners -  contact us by email confirmation page">
<title>Contact Us - Email sent Confirmation</title>
{% endblock %}


{% block content %}
<div class="background-image-l-plate background-image-container">
  <div class="container p-3 col-md-6 container-transparent-background">
    <div class="row">

      <h2>Thanks for sending us a message</h2>
      <p>You will receive a confirmation email of your contact email and,</p>
      <p>we will respond to your message shortly</p>

      <p>Please return to the previous page <button
          class="btn btn-primary force-white-text-black-hover px-3"><a
            class="force-white-text-black-hover"
            href="{% url 'contact-us' %}">here
          </a></button> or use the navigation bar above.</a>
      </p>
      <p></p>
    </div>
  </div>
</div>

{% endblock %}