{% extends "base.html" %}

{% block metadescription %}
<meta name="keywords"
	content="Driving School, Driving Lessons, Learn to Drive, Huddersfield, HD4, Female Driving School, Female Driving Instructor, Blog">
<meta name="description"
	content="These are the Terms and Conditions both Leanne's Learners instructor and pupil agree to adhere to">
<title>Terms and Conditions</title>
{% endblock %}

{% block content %}




<!-- Terms and Conditions Content -->

{% for terms in terms_list %}
<div class="container-fluid col-12">
	<div class="container-fluid col-sm-12 col-md-10 justify-content-center img-radius-10 bg-white my-4">
		<div class="row">
			<h1 class="section-header">Terms and Conditions</h1>
			<div class="col-12 mt-3 p-5 row justify-content-center">
				<p class="lead">{{ terms.lead_content | safe }}</p>
				<p>{{ terms.main_content | safe }}</p>
			</div>
		</div>
		{% endfor %}

	</div>


</div>



{%endblock%}