@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

a {
	text-decoration: none;
}
alert-msg {
    z-index: 100;
}

blockquote { 
    position: relative; 
    display: inline-block; 
    background: rgb(238, 238, 238); 
    padding: 20px 30px; 
    border-radius: 10px; 
    color: rgb(51, 51, 51); 
    text-align: left; 
    box-shadow: 1px 1px 1px rgb(153, 153, 153), 2px 2px 1px rgb(153, 153, 153), 3px 3px 1px rgb(153, 153, 153); 
    transition-duration: 0.3s; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    -o-border-radius: 10px;
}

img {
	vertical-align: bottom;
}

.author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;
    font-style: italic;
}

.authentication-background-image-container {
	box-sizing: border-box;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background-image: url('https://res.cloudinary.com/dkitley1975/image/upload/v1641303161/leannes_learners/authentication_images/authentication_page_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.authentication-input-container{
    background-color:rgba(225, 225, 225, 0.9);
    border-radius: 20px;
}

.background-image {
    background-color: rgb(51, 51, 51);
	box-sizing: border-box;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.blog-post-header {
    background-color: rgb(116, 36, 29);
    margin-top: 5vh;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.blog-post-header-image {
    margin-right: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
    /* min-height: 33vh; */
    height: 100%;
    overflow: hidden;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 33% 100%);
    margin-right: 0;
    vertical-align: top;
}

.blog-post-likes {
    color: rgb(126, 132, 138);
    font-style: italic;
}

.blog-post-link {
    text-decoration: none;
    color: rgb(68, 82, 97);
}

.blog-post-link:hover,
.page-link {
    color: rgb(116, 36, 29);
}

.blog-post-subtitle {
    margin-left: 5%;
    color: white;
}

.blog-post-title {
    margin-top: 5%;
    margin-left: 5%;
        color: white;

}

.btn-like {
    color: rgb(238, 25, 25);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: rgb(238, 25, 25);
    background: transparent;
    border: none;
}

.btn-primary,
.btn-primary:active {
    color: white;
    background: rgb(116, 36, 29) !important;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgb(116, 36, 29);
    color: white;
}

.btn-signup {
    color: white;
    background-color: rgb(116, 36, 29);
    text-decoration: none;
    border: 1px solid rgb(116, 36, 29);
}


.btn-signup:hover {
    color: rgb(116, 36, 29);
    background: white;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #cf9999;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.carousel-item{
    max-height: 80vh;
}

.carousel-caption {
    background-color: rgba(116, 36, 29, .7);
    right: 0;
    left: 0;
    color: white;
    text-align: center;
}

.content-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    min-height: 100vh;
}

.fa-quote-left {
    position: relative;
    background: rgb(238, 238, 238);
    padding-left: -5px;
    margin-left: -20px;
    font-style: italic;
    z-index: 5;
    color: rgb(153, 153, 153);
    }

.fa-quote-right {
    position: relative;
    background: rgb(238, 238, 238);
    font-style: italic;
    z-index: 5;
    text-align: right;
    padding-right: -5px;
    margin-right: -20px;
    display: block;
    margin-top: -5px;
    color: rgb(153, 153, 153);
}

.footer {
    z-index: 999;
}

.img-focus-image {
    padding: 0.25rem;
    background-color: white;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 50%;
    max-width: 100%;
}

.img-radius-10 {
    padding: 0.25rem;
    background-color: white;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 10%;
    box-shadow: 1px 1px 1px rgb(180, 180, 180), 2px 2px 1px rgb(200, 200, 200), 3px 3px 1px rgb(220, 220, 220);
    max-width: 100%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.link {
    color: rgb(35, 187, 187);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgb(68, 82, 97);
    text-decoration: underline;
}

.logo-image {
    width: 12vw width;
}

.navbar {
    z-index: 999;
}

.navbar-nav{
    padding-left: 10px;
    margin-left: 50px;  
}

.navbar a {
    color: white;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}

.navbar a:hover {
    color: rgb(174, 174, 174);
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-burnt-red {
    background-color: rgb(116, 36, 29);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 239, 148, 0.742);
}
.page-link {
    position: relative;
    display: block;
    color: rgb(116, 36, 29);
    text-decoration: none;
    background-color: white;
    border: 1px solid rgb(222, 226, 230);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.page-link:hover {
    color: white;
    background-color: rgb(116, 36, 29);
    border: 1px solid rgb(222, 226, 230);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section-header{
    margin-top: 3rem;
    text-align: center;
    font-family: 'Pushster', cursive;
}


