@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

:root {
    /* Default colours */
    --clr-brand-primary: rgb(116, 36, 29);
    --clr-brand-primary-70: rgba(116, 36, 29, .7);
    --clr-brand-secondary: rgba(255, 239, 148, 0.742);
    --clr-brand-tertiary: rgb(156, 207, 153);
    --clr-background-light: rgb(238, 238, 238);
    --clr-background-grey: rgb(153, 158, 164);
    --clr-border-grey: rgb(222, 226, 230);
    --clr-box-shadow: rgb(153, 153, 153);
    --clr-link-dark: rgb(68, 82, 97);
    --clr-quotation-mark: rgb(51, 51, 51);


}

a {
    text-decoration: none;
    text-decoration-color: white !important;
    -moz-text-decoration-color: white !important;
}

alert-msg {
    z-index: 1001;
    position: absolute;

}

blockquote {
    position: relative;
    display: inline-block;
    background: var(--clr-background-light);
    padding: 20px 30px;
    border-radius: 10px;
    color: var(--clr-quotation-mark);
    text-align: left;
    box-shadow: 1px 1px 1px var(--clr-box-shadow), 2px 2px 1px var(--clr-box-shadow), 3px 3px 1px var(--clr-box-shadow);
    transition-duration: 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

img {
    vertical-align: bottom;
}

.alt-text-white {
    color: white;
    text-align: right;
}

.author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;
    font-style: italic;
}

.authentication-background-image-container {
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-image: url('https://res.cloudinary.com/dkitley1975/image/upload/v1641303161/leannes_learners/authentication_images/authentication_page_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.authentication-input-container {
    background-color: rgba(225, 225, 225, 0.8);
    border-radius: 20px;
}

.background-image {
    background-color: var(--clr-background-grey);
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.blog-post-header {
    background-color: var(--clr-brand-primary);
    margin-top: 5vh;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 200px;
    width: 100%;
}

.blog-post-header-image {
    margin-right: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
    /* min-height: 33vh; */
    height: 100%;
    overflow: hidden;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 33% 100%);
    margin-right: 0;
    vertical-align: top;
}

.blog-post-likes {
    color: var(--clr-background-grey);
    font-style: italic;
}

.blog-post-link {
    text-decoration: none;
    color: var(--clr-link-dark);
}

.blog-post-link:hover,
.page-link {
    color: var(--clr-brand-primary);
}

.blog-post-subtitle {
    margin-left: 5%;
    margin-bottom: 10%;
    color: white;
}

.blog-post-title {
    margin-top: 5%;
    margin-left: 5%;
    color: white;

}

.btn-like {
    color: rgb(238, 25, 25);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    animation: heart-beat 1s linear infinite;
    -webkit-animation: heart-beat 1s linear infinite;
}


.btn-primary,
.btn-primary:active {
    color: white;
    background: var(--clr-brand-primary) !important;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--clr-brand-tertiary) !important;
    color: Black;
}

.btn-signup {
    color: white;
    background-color: var(--clr-brand-primary);
    text-decoration: none;
    border: 1px solid var(--clr-brand-primary);
}


.btn-signup:hover {
    color: var(--clr-brand-primary);
    background: white;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: var(--clr-brand-tertiary);
    border-bottom: 1px solid var(--clr-border-grey);
}

.carousel-item {
    max-height: 80vh;
}

.carousel-caption {
    background-color: var(--clr-brand-primary-70);
    right: 0;
    left: 0;
    color: white;
    text-align: center;
}

.content-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    min-height: 100vh;
}

.dropdown-item:hover {
    background-color: var(--clr-brand-primary);
}

.fa-quote-left {
    position: relative;
    background: var(--clr-background-light);
    padding-left: -5px;
    margin-left: -20px;
    font-style: italic;
    z-index: 5;
    color: var(--clr-box-shadow);
}

.fa-quote-right {
    position: relative;
    background: var(--clr-background-light);
    font-style: italic;
    z-index: 5;
    text-align: right;
    padding-right: -5px;
    margin-right: -20px;
    display: block;
    margin-top: -5px;
    color: var(--clr-box-shadow);
}

.feature-rule {
    width: 60%;
    border: 1px solid var(--clr-brand-primary-70);
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.footer {
    z-index: 999;
}

.footer-social a {
    color: white;
}

.footer-social a:hover {
    color: var(--clr-brand-tertiary);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.force-white-text-black-hover,
.force-white-text-black-hover:active {
    color: white;
    text-decoration-color: white;
    -moz-text-decoration-color: white;
}

.force-white-text-black-hover:hover {
    color: black;
    text-decoration-color: black;
    -moz-text-decoration-color: black;
}

.form-control {
    display: block;
    margin-bottom: .75rem;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.img-focus-image {
    padding: 0.25rem;
    background-color: white;
    border: 1px solid var(--clr-border-grey);
    border-radius: 50%;
    max-width: 100%;
}

.img-radius-10 {
    padding: 0.25rem;
    border: 1px solid var(--clr-border-grey);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(180, 180, 180), 2px 2px 1px rgb(200, 200, 200), 3px 3px 1px rgb(220, 220, 220);
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.link {
    color: var(--clr-brand-tertiary);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--clr-link-dark);
    text-decoration: underline;
}

.logo-image {
    width: 12vw width;
}

.navbar {
    z-index: 999;
}

.navbar-nav {
    padding-left: 10px;
    margin-left: 50px;
}

.navbar a {
    color: white;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}

.navbar a:hover {
    color: var(--clr-brand-tertiary);
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-burnt-red {
    background-color: var(--clr-brand-primary);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--clr-brand-secondary);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.nav-item.dropdown>ul>li>a {
    color: var(--clr-brand-secondary);
}

.nav-item.dropdown>ul>li>a:hover {
    color: white;
}

.page-link {
    position: relative;
    display: block;
    color: var(--clr-brand-primary);
    text-decoration: none;
    background-color: white;
    border: 1px solid var(--clr-border-grey);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page-link:hover {
    color: var(--clr-brand-primary);
    background-color: var(--clr-brand-tertiary);
    border: 1px solid var(--clr-border-grey);
}

.section-header {
    margin-top: 3rem;
    text-align: center;
    font-family: 'Pushster', cursive;
}

.tel-link {
    color: black;
}

.tel-link:hover {
    color: var(--clr-link-dark);
}

.table a {
    color: black;
}

.table a:hover {
    color: var(--clr-link-dark);
}

.trans-white-background-80 {
    background-color: rgba(255, 255, 255, 0.8);
}


@keyframes heart-beat {
    50% {
        opacity: .5;
        transition-duration: .75s;
    }
}

/* On screens that are 768px or less */
@media screen and (min-width: 768px) {
    .blog-post-header {
        height: 300px;

    }
}