@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

a {
	text-decoration: none;
}
alert-msg {
    z-index: 100;
}

blockquote {
position: relative;
display: inline-block;
background: #eee;
padding: 40px 30px 30px 40px;
border-radius: 10px;
color: #333;
text-align: left;
box-shadow: 1px 1px 1px #999, 2px 2px 1px #999, 3px 3px 1px #999;
transition-duration: 0.3s;
}

img {
	vertical-align: bottom;
}

.author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;
    color: #999;
    font-style: italic;
}

.authentication-background-image-container {
	box-sizing: border-box;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background-image: url('https://res.cloudinary.com/dkitley1975/image/upload/v1641303161/leannes_learners/authentication_images/authentication_page_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.authentication-input-container{
    background-color:rgba(225, 225, 225, 0.9);
    border-radius: 20px;
}

.blog-author{

}

.blog-post-header {
background-color: rgb(116, 36, 29);
    margin-top: 5vh;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.blog-post-header-image {
    margin-right: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
    /* min-height: 33vh; */
    height: 100%;
    overflow: hidden;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 33% 100%);
    margin-right: 0;
    vertical-align: top;
}

.blog-post-likes {
    color: #7e848a;
    font-style: italic;
}

.blog-post-link {
    text-decoration: none;
    color: #445261;
}

.blog-post-link:hover,
.page-link {
    color: rgb(116, 36, 29);
}

.blog-post-subtitle {
    margin-left: 5%;
    color: #ffffff;
}

.blog-post-title {
    margin-top: 5%;
    margin-left: 5%;
        color: #ffffff;

}

.btn-like {
    color: #ee1919;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #ee1919;
    background: transparent;
    border: none;
}

.btn-primary,
.btn-primary:active {
    color: #fff;
    background: rgb(116, 36, 29) !important;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgb(116, 36, 29);
    color: #fff;
}

.btn-signup {
    color: rgb(116, 36, 29);
    background: #fff;
    text-decoration: none;
    border: 1px solid rgb(116, 36, 29);
}


.btn-signup:hover {
    color: #fff;
    background-color: rgb(116, 36, 29);
}

.carousel-item{
    max-height: 80vh;
}

.carousel-caption {
    background-color: rgba(116, 36, 29, .7);
    right: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.fa-quote-left {
    position: relative;
    background: #eee;
    padding-left: -5px;
    margin-left: -20px;
    font-style: italic;
    z-index: 5;
    color: #999;
    }

.fa-quote-right {
    position: relative;
    background: #eee;
    font-style: italic;
    z-index: 5;
    text-align: right;
    padding-right: -5px;
    margin-right: -20px;
    display: block;
    margin-top: -5px;
    color: #999;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.logo-image {
    width: 12vw width;
}

.navbar-nav{
    padding-left: 10px;
    margin-left: 50px;
}

.navbar a,
.navbar a:active {
    color: #888;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-burnt-red {
    background-color: rgb(116, 36, 29);
}

.page-link {
    position: relative;
    display: block;
    color: rgb(116, 36, 29);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.page-link:hover {
    color: white;
    background-color: rgb(116, 36, 29);
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section-header{
    margin-top: 3rem;
    text-align: center;
    font-family: 'Pushster', cursive;
}



/* .navbar .btn-primary,
.navbar .btn-primary:active {
    color: #fff;
    background: #205e63 !important;
    border: none;
} */

/* .navbar .btn-primary:hover,
.navbar .btn-primary:focus {
    color: #fff;
    background: #031c1f !important;
} */

/* .navbar .dropdown-menu {
    color: #999;
    font-weight: normal;
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
} */

/* .navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
} */













