@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

:root {
    /* Default colours */
    --clr-brand-primary: rgb(116, 36, 29);
    --clr-brand-primary-70: rgba(116, 36, 29, .7);
    --clr-brand-secondary: rgba(255, 239, 148, 0.742);
    --clr-brand-tertiary: rgb(156, 207, 153);
    --clr-brand-tertiary-darker: rgb(68, 126, 65);
    --clr-brand-quaternary: rgb(208, 17, 46);
    --clr-background-light: rgb(238, 238, 238);
    --clr-background-grey: rgb(153, 158, 164);
    --clr-border-grey: rgb(222, 226, 230);
    --clr-box-shadow: rgb(153, 153, 153);
    --clr-link-dark: rgb(68, 82, 97);
    --clr-quotation-mark: rgb(51, 51, 51);
    --clr-brand-quaternary: rgb(208, 0, 0);


}

body {
    padding-top: 65px;
}

a {
    text-decoration: none;
    text-decoration-color: white !important;
    -moz-text-decoration-color: white !important;
}

alert-msg {
    z-index: 1001;
    padding-top: 65px;
    position: absolute;

}

blockquote {
    position: relative;
    display: inline-block;
    background: var(--clr-background-light);
    padding: 20px 30px;
    border-radius: 10px;
    color: var(--clr-quotation-mark);
    text-align: left;
    box-shadow: 1px 1px 1px var(--clr-box-shadow), 2px 2px 1px var(--clr-box-shadow), 3px 3px 1px var(--clr-box-shadow);
    transition-duration: 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

img {
    vertical-align: bottom;
}

.alt-text-white {
    color: white;
    text-align: right;
}

.author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;
    font-style: italic;
}

.authentication-background-image-container {
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-image: url('https://res.cloudinary.com/dkitley1975/image/upload/v1641303161/leannes_learners/authentication_images/authentication_page_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.authentication-input-container {
    background-color: rgba(225, 225, 225, 0.8);
    border-radius: 20px;
}

.background-image {
    background-color: var(--clr-background-grey);
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.post-detail-author-info {
    padding: 12px
}

.post-detail-author-links>a {
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-link-dark)
}

.post-detail-author-links>a:hover {
    color: var(--clr-brand-primary)
}

.post-detail-author-title {
    color: var(--clr-brand-primary);
    font-size: 1.5rem;
    text-decoration: underline .3px solid var(--clr-brand-primary-70);
    text-underline-offset: 3px;
}

.post-detail-author-subtitle {
    color: var(--clr-brand-primary-70);
    font-size: 1rem;
}

.post-detail-header {
    background-color: var(--clr-brand-primary);
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 0;
}

.post-detail-header-image {
    margin-right: 0;
    padding-right: 0;
    bottom: 0;
    right: 0;
    position: relative;
    overflow: hidden;
    overflow: hidden;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 33% 100%);
}

.post-detail-likes {
    color: var(--clr-background-grey);
    font-style: italic;
}

.post-detail-link {
    text-decoration: none;
    color: var(--clr-link-dark);
}

.post-detail-link:hover,
.page-link {
    color: var(--clr-brand-primary);
}

.post-detail-profile-image {
    max-width: 90%;
    height: auto;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 5%;
}

.post-detail-subtitle {
    margin-left: 5%;
    margin-bottom: 10%;
    color: white;
}


.post-detail-subtitle>a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.post-detail-subtitle>a:hover {
    color: var(--clr-brand-tertiary);
    text-decoration: none;
}

.post-detail-title {
    margin-top: 5%;
    margin-left: 5%;
    color: white;
}

.post-detail-h-rule {
    width: 80%;
    margin-left: 5%;
    border: 1px solid white;
}

.btn {
    float: right;
}

.btn-like {
    color: rgb(238, 25, 25);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    animation: heart-beat 1s linear infinite;
    -webkit-animation: heart-beat 1s linear infinite;
}


.btn-primary,
.btn-primary:active {
    color: white;
    background: var(--clr-brand-primary) !important;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--clr-brand-tertiary) !important;
    color: Black;
}

.btn-signup {
    color: white;
    background-color: var(--clr-brand-primary);
    text-decoration: none;
    border: 1px solid var(--clr-brand-primary);
}


.btn-signup:hover {
    color: var(--clr-brand-primary);
    background: white;
}

.btn-warning {
    background: var(--clr-border-grey);
    transition: all .5s ease-in-out;
}

.btn-warning:hover {
    background: red !important;
    color: white;
    font-size: 90%;
}

.btn-white-outline {
    border: 1px solid white;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: var(--clr-brand-tertiary);
    border-bottom: 1px solid var(--clr-border-grey);
}

.carousel-item {
    max-height: 80vh;
}

.carousel-caption {
    background-color: var(--clr-brand-primary-70);
    right: 0;
    left: 0;
    color: white;
    text-align: center;
}

.cat-nav {
    color: var(--clr-brand-primary);
}

.comment-rule {
    width: 80%;
    border: .5px solid var(--clr-brand-primary-70);
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.content-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    min-height: 100vh;
}

.dropdown-item:hover {
    background-color: var(--clr-brand-primary);
}

.dropdown-item.active {
    background-color: var(--clr-brand-primary);
    text-decoration: none;
}

.nav-item.dropdown.cat-nav>ul>li>a {
    color: var(--clr-brand-primary);
}

.nav-item.dropdown.cat-nav>ul>li>a:hover {
    color: white;
}

.nav-item.dropdown.cat-nav>ul>li:hover {
    background-color: var(--clr-brand-tertiary);
}

.dropdown-menu-end {
    width: 80vw;
    margin-left: -40px;
}

.fa-quote-left {
    position: relative;
    background: var(--clr-background-light);
    padding-left: -5px;
    margin-left: -20px;
    font-style: italic;
    z-index: 5;
    color: var(--clr-box-shadow);
}

.fa-quote-right {
    position: relative;
    background: var(--clr-background-light);
    font-style: italic;
    z-index: 5;
    text-align: right;
    padding-right: -5px;
    margin-right: -20px;
    display: block;
    margin-top: -5px;
    color: var(--clr-box-shadow);
}

.feature-rule {
    width: 60%;
    border: 1px solid var(--clr-brand-primary-70);
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.footer {
    z-index: 999;
}

.footer-social>a {
    color: white;
}

.footer-social>a:hover {
    color: var(--clr-brand-tertiary);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.force-white-text-black-hover,
.force-white-text-black-hover:active {
    color: white;
    text-decoration-color: white;
    -moz-text-decoration-color: white;
}

.force-white-text-black-hover:hover {
    color: black;
    text-decoration-color: black;
    -moz-text-decoration-color: black;
}

.form-control {
    display: block;
    margin-bottom: 1.25rem;
    width: 100%;
}

.form-group {
    margin-top: 1.25rem;
}

.icon-color-primary {
    color: var(--clr-brand-primary);
}

.icon-color-secondary {
    color: var(--clr-brand-secondary);
}

.icon-color-tertiary {
    color: var(--clr-brand-tertiary-darker);
}

.icon-color-quaternary {
    color: var(--clr-brand-quaternary);
}

.img-focus-image {
    padding: 0.25rem;
    background-color: white;
    border: 1px solid var(--clr-border-grey);
    border-radius: 50%;
    max-width: 100%;
}

.img-radius-10 {
    padding: 0.25rem;
    border: 1px solid var(--clr-border-grey);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(180, 180, 180), 2px 2px 1px rgb(200, 200, 200), 3px 3px 1px rgb(220, 220, 220);
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.link {
    color: var(--clr-brand-tertiary);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--clr-link-dark);
    text-decoration: underline;
}

.logo-image {
    width: 12vw width;
}

.navbar {
    z-index: 999;
}

.navbar-nav {
    padding-left: 10px;
    margin-left: 50px;
}

.navbar a {
    color: white;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}

.navbar a:hover {
    color: var(--clr-brand-tertiary);
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-burnt-red {
    background-color: var(--clr-brand-primary);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--clr-brand-secondary);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--clr-brand-tertiary);
}

.nav-item.dropdown>ul>li>a {
    color: var(--clr-brand-secondary);
}

.nav-item.dropdown>ul>li>a:hover {
    color: var(--clr-brand-tertiary);
}

.nav-item.dropdown>ul>li>a.active {
    color: white;
}

.page-link {
    position: relative;
    display: block;
    color: var(--clr-brand-primary);
    text-decoration: none;
    background-color: white;
    border: 1px solid var(--clr-border-grey);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page-link:hover {
    color: var(--clr-brand-primary);
    background-color: var(--clr-brand-tertiary);
    border: 1px solid var(--clr-border-grey);
}

.registration-helptext {
    color: var(--clr-brand-primary);
    font-style: italic;
    font-size: small;
}

.section-header {
    margin-top: 3rem;
    text-align: center;
    font-family: 'Pushster', cursive;
}

.tel-link {
    color: black;
}

.tel-link:hover {
    color: var(--clr-link-dark);
}

.table a {
    color: black;
}

.table a:hover {
    color: var(--clr-link-dark);
}

.trans-white-background-80 {
    background-color: rgba(255, 255, 255, 0.8);
}

.warning-advice-text {
    color: var(--clr-brand-quaternary);
    animation: heart-beat 2s linear infinite;
    -webkit-animation: heart-beat 2s linear infinite;
}



@keyframes heart-beat {
    50% {
        opacity: .5;
        transition-duration: .75s;
    }
}

/* On screens that are 576px */
@media screen and (min-width: 576px) {

    .dropdown-menu-end {
        right: 30px;
        margin-left: 0px;
    }
}

/* On screens that are 768px */
@media screen and (min-width: 768px) {
    .post-detail-header {
        height: 300px;
    }

    .dropdown-menu-end {
        right: 30px;
    }
}

/* On screens that are 992px */
@media screen and (min-width: 992px) {


    .dropdown-menu-end {
        width: 300px;
    }
}