{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}
{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }}
{% endblock %}

{% block extrastyle %}
<!-- Local CSS-->
<link rel="stylesheet" href="{% static 'css/admin_color.css' %}">
{% endblock %}

{% block extrahead %}
<meta name="theme-color" content="#74241d">
{% load static %}
<link rel="icon" href="{% static 'webmanifest/favicons/favicon.ico' %}">
<link rel="manifest" href="{% static 'webmanifest/site.webmanifest' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicons/android-chrome-512x512' %}">
{% endblock %}


{% block branding %}
<h1 id="site-name">
	<a href="{% url 'admin:index' %}">

		<img src="https://res.cloudinary.com/dkitley1975/image/upload/c_scale,h_50/v1640614265/leannes_learners/logos/Leannes_Learners_Logo_white_text.png" class="img-fluid" alt="Leanne's Learners Logo made up of the words Leannes Learners in white, replacing the L's with Red L-Plates at an angle">
	</a>{% trans "- Admin Site" %}
</h1>

{% endblock %}

{% block nav-global %}{% endblock %}