<!doctype html>
<html lang="en-us">

<head>
	{% include "layout/header.html" %}
</head>

<body class="d-flex flex-column min-vh-100">
	<!-- here is the navbar that is used across all the pages of our website -->
	{% include "layout/navbar.html" %}

	<!-- here is the messages area that is used across all the pages of our website -->
	{% include "components/messages.html" %}


	<main>
		<!-- Here is the page's main content -->
		{% block content %}
		<!-- Content Goes here -->
		{% endblock content %}
	</main>

	<!-- here is the footer that is used across all the pages of our website -->
	{% include "layout/footer.html" %}




	{% include "layout/scripts.html" %}

</body>

</html>