{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<!-- contact us -->

<div class="container py-3">

	<heading class="pricing-header p-3 pb-md-4 mx-auto text-center">
		<h1 class="section-header">Contact Us</h1>
	</heading>

	<section>
		<div class="row d-flex g-3 justify-content-center">
			{% for companydetails in companydetails %}

			<p class="text-center">We would love to talk to you regarding your requirements so
				use the form below to drop us an email or send us a text on <a class="fw-bold tel-link"
					href='tel:{{ companydetails.phone }}'>
					{{ companydetails.phone }}</a></p>

			<!-- Contact Details  -->
			<div class="col-sm-10 col-md-10 col-lg-5  col-xl-4 col-xxl-3 img-radius-10 trans-white-background-80">
				<div class="card-body">
					<h2 class="card-title text-center">Contact Details</h2>
					<table class="table">
						<tbody>
							<tr>
								<td>Phone</td>
								<td class="fw-bold"><a href='tel:{{ companydetails.phone }}'>
										{{ companydetails.phone }}</a>
								</td>
							</tr>
							<tr>
								<td>Email</td>
								<td><a
										href="mailto:{{ companydetails.email }}?subject=Website%20Contact%20Details%Page%Link">
										{{ companydetails.email }}</a>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- Contact Hours  -->
					<h2 class="card-title pt-5 text-center">Teaching Hours</h2>
					<table class="table">
						<thead>

							<tr>
								<th scope="col">Day</th>
								<th scope="col">Hours</th>
							</tr>
						</thead>
						{% for teachinghours in teaching_hours_list %}
						<tr>
							<td>{{ teachinghours.day }}</td>
							<td class="fw-bold">{{ teachinghours.start_time }}
								{% if teachinghours.finish_time %} <small class="text-muted"> - </small>
								{{ teachinghours.finish_time }}
								{% endif %}

							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endfor %}


			<!-- Contact Form -->
			<div
				class="col-sm-10 col-md-10 offset-md-1 col-lg-4 col-xl-4 col-xxl-7 img-radius-10 trans-white-background-80 p-4">
				<h2 class="card-title text-center">Contact Form</h2>
				<form action="" method="post">
					{% csrf_token %}
					{{ form | crispy }}
					<button class="btn btn-primary me-md-2 mt-2" type="submit">Submit form</button>
				</form>
			</div>
	</section>

</div>

{%endblock%}