{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}


<!-- contact us -->
{% for contactdetails in contactdetails_list %}
{% if "placeholder" in contactdetails.background_image.url %}
<div style="background-image: url(https://res.cloudinary.com/dkitley1975/image/upload/v1641618826/leannes_learners/default_image/drivers_side_of_a_car_moving_at_speed_with_the_street_light_bluring.jpg);"
	class="container-fluid col-12 background-image">
	{% else %}
	<div style="background-image: url({{ contactdetails.background_image.url }});"
		class="container-fluid col-12 background-image">
		{% endif %}
		<div class="container py-3">

			<heading class="pricing-header p-3 pb-md-4 mx-auto text-center">
				<h1 class="section-header">Contact Us</h1>
			</heading>

			<section>
				<div class="row d-flex g-3 justify-content-between p-4">

					<p>We would love to talk to you regarding your requirements so
						use the form below to drop us an email or send us a text on {{ contactdetails.phone }}</p>

					<div class="card mb-4 col-sm-10 col-md-5 col-lg-4 img-radius-10 trans-white-background-80">
						<div class="card-body">
							<h2 class="card-title text-center">Contact Details</h2>
							<table class="table">
								<tbody>
									<tr>
										<td>Phone</td>
										<td class="fw-bold"><a href='tel:{{ contactdetails.phone }}'>
												{{ contactdetails.phone }}</a>
										</td>
									</tr>
									<tr>
										<td>Email</td>
										<td class="fw-bold"><a
												href="mailto:{{ contactdetails.email }}?subject=Website%20Contact%20Me%20Form">
												{{ contactdetails.email }}</a>
										</td>
									</tr>

								</tbody>

							</table>
							<h2 class="card-title pt-5 text-center">Teaching Hours</h2>
							<table class="table">
								<thead>

									<tr>
										<th scope="col">Day</th>
										<th scope="col">Hours</th>
									</tr>
								</thead>
								{% for teachinghours in teaching_hours_list %}
								<tr>
									<td>{{ teachinghours.day }}</td>
									<td class="fw-bold">{{ teachinghours.start_time }}
										{% if teachinghours.finish_time %} <small class="text-muted"> - </small>
										{{ teachinghours.finish_time }}
										{% endif %}

									</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-sm-10 col-md-6 col-lg-7 img-radius-10 trans-white-background-80 p-4">

						<form class="row g-3 needs-validation justify-content-around" novalidate>
							<!-- {% csrf_token %} -->
							<h2 class="card-title text-center">Contact Form</h2>
							<div class="col-md-10 md-offset-2">
								<label for="validationFirstName" class="form-label">First name</label>
								<input type="text" class="form-control" id="validationFirstName"
									name="contact-first-name" placeholder="First Name" required>
								<div class="valid-feedback">
									Looks good!
								</div>
							</div>
							<div class="col-md-10">
								<label for="validationLastName" class="form-label">Last name</label>
								<input type="text" class="form-control" id="validationLastName" name="contact-last-name"
									placeholder="Last Name" required>
								<div class="valid-feedback">
									Looks good!
								</div>
							</div>
							<div class="col-md-10">
								<label for="validationPostCode" class="form-label">Postcode</label>
								<input type="text" class="form-control" id="validationPostCode" name="contact-postcode"
									placeholder="HD" required>
								<div class="invalid-feedback">
									Please provide a valid postcode.
								</div>
							</div>
							<div class="col-md-10">
								<label for="validationCustomUserEmail" class="form-label">email</label>
								<input type="text" class="form-control" id="validationCustomUserEmail"
									name="contact-email" placeholder="first.last@mail.com" required>
								<div class="invalid-feedback">
									Please provide a valid email address.
								</div>
							</div>
							<div class="col-md-10">
								<label for="validationContactNumber" class="form-label">Contact Number</label>
								<input type="text" class="form-control" id="validationContactNumber"
									name="contact-number" placeholder="07123456789" required>
								<div class="invalid-feedback">
									Please provide a valid contact number.
								</div>
							</div>
							<div class="col-md-10">
								<label for="validationCustommessage" class="form-label">message</label>
								<textarea class="form-control" name="contact-message" rows="8" required
									placeholder="I would like to enquire about driving lessons in the --- area,&#10;I am available on --- days"></textarea>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-end p-5">
								<button class="btn btn-primary me-md-2" type="submit">Submit form</button>
							</div>
						</form>
					</div>
				</div>

			</section>

		</div>
	</div>
	{% endfor %}
	{%endblock%}