{% extends "base.html" %}

{% block content %}
<!-- Carousel -->
<section>
	{% for post in post_list %}
	<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-interval="6000" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../media/homepage_slideshow_image_car.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption">
					<h3 class="fw-bold">First slide label</h3>
					<p class="fw-bold">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
				</div>
			</div>


			<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	{% endfor %}
</section>
<!-- Blog posts -->
<section>
	<div class="container-fluid">
		<div class="row">

			<!-- Blog Entries Column -->
			<div class="col-12 mt-3 left">
				<div class="row">
					{% for post in post_list %}
					<div class="col-md-4">
						<div class="card mb-4">
							<div class="card-body">
								<div class="image-container">
									{% if "placeholder" in post.featured_image.url %}
									<img class="card-img-top"
										src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
									{% else %}
									<img class="card-img-top" src=" {{ post.featured_image.url }}">
									{% endif %}
									<div class="image-flash">
										<p class="author">Author: {{ post.author }}</p>
									</div>
								</div>
								<a href="#">
									<h2 class="card-title">{{ post.title }}</h2>
									<p class="card-text">{{ post.excerpt }}</p>
								</a>
								<hr />
								<p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
									{{ post.number_of_likes }}</p>
							</div>
						</div>
					</div>
					{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="row">
					{% endif %}
					{% endfor %}

				</div>
			</div>
		</div>
		{% if is_paginated %}
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				{% if page_obj.has_previous %}
				<li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
				{% endif %}
				{% if page_obj.has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

				{% endif %}
			</ul>
		</nav>
		{% endif %}
	</div>
</section>

{%endblock%}