{% extends "base.html" %}
{% block seo_page_title %}Leannes Learners Home Page{% endblock %}
{% block seo_page_description %}Our latest blog posts and testimonials{% endblock %}

{% block content %}

<!-- Carousel -->
<section>
	{% include "components/carousel.html" %}
</section>

<!-- Testimonials Cards-->
<section>
	<div class="container-fluid col-10">
		<h2 class="section-header">Our latest testimonials</h2>
		{% include "components/testimonial-cards.html" %}
		<hr />
	</div>
</section>


<!-- Blog Post Cards -->
<section>
	<div class="container-fluid col-10">

		<h2 class="section-header">Our latest blog Posts</h2>
		<div class="row">
			{% include "components/blog/post-preview-card.html" %}
		</div>
	</div>
	<hr />
</section>

{%endblock%}