{% extends "base.html" %}
{% block title %}Pass Plus{% endblock %}
{% block content %}




<!-- Pass Plus Content -->
<section>
	{% for passplus in passplus_list %}
	{% if "placeholder" in passplus.background_image.url %}
	<div style="background-image: url(https://res.cloudinary.com/dkitley1975/image/upload/v1641618826/leannes_learners/default_image/drivers_side_of_a_car_moving_at_speed_with_the_street_light_bluring.jpg);"
		class="container-fluid col-12 background-image">
		{% else %}
		<div style="background-image: url({{ passplus.background_image.url }});"
			class="container-fluid col-12 background-image">
			{% endif %}
			<div class="col-md-4 content-overlay m-lg-5">
				<div class="row">
					<h1 class="section-header">Pass Plus</h1>
					<div class="col-12 mt-3 p-5">
						<div class="row justify-content-center">
							<div class="col-6 mt-3"><img src="{{ passplus.focus_image.url }}"
									class="img-fluid img-focus-image" alt="{{ passplus.focus_image_alt_tag.url }}">
							</div>
						</div>
						<p class="lead">{{ passplus.lead_content | safe }}</p>
						<p>{{ passplus.main_content | safe }}</p>
					</div>
				</div>
			</div>
		</div>

		{% endfor %}

</section>



{%endblock%}