{% extends "base.html" %}
{% block title %}Terms and Conditions{% endblock %}
{% block content %}




<!-- Terms and Conditions Content -->
<section>
	{% for terms_and_conditions in terms_and_conditions_list %}
	{% if "placeholder" in terms_and_conditions.background_image.url %}
	<div style="background-image: url(https://res.cloudinary.com/dkitley1975/image/upload/v1641618826/leannes_learners/default_image/drivers_side_of_a_car_moving_at_speed_with_the_street_light_bluring.jpg);"
		class="container-fluid col-12 background-image">
		{% else %}
		<div style="background-image: url({{ terms_and_conditions.background_image.url }});"
			class="container-fluid col-12 background-image">
			{% endif %}

			<div
				class="container-fluid col-sm-12 col-md-10 justify-content-center content-overlay mt-3 mt-md-4 mt-lg-5">
				<div class="row">
					<h1 class="section-header">Terms and Conditions</h1>
					<div class="col-12 mt-3 p-5 row justify-content-center">
						<p class="lead">{{ terms_and_conditions.lead_content | safe }}</p>
						<p>{{ terms_and_conditions.main_content | safe }}</p>
					</div>
				</div>
				{% endfor %}

			</div>


		</div>
</section>


{%endblock%}