<!-- Social media integration, for when people share your content -->
<!-- Facebook, LinkedIn, Google -->
<meta property="og:type" content="article" />
<meta property="og:title" content="TITLE OF YOUR POST OR PAGE" />
<!-- Same as what's inside <title> tag -->
<!-- The title you want displayed when your page is linked to -->
<meta property="og:description" content="DESCRIPTION OF PAGE CONTENT" />
<!-- Same as what's inside description meta tag -->
<!-- The description you want displayed when your page is linked to (maximum 300 characters) -->
<meta name="image" property="og:image" content="URL TO IMAGE" />
<!-- URL of image to be displayed when your site is linked to -->
<!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
<meta property="og:image:alt" content="ALT TEXT FOR IMAGE" />
<!-- Alt text for above image - an accessibility win -->
<meta property="og:url" content="#" /> <!-- Your page's URL -->
<meta property="og:site_name" content="SITE NAME" />
<!-- Same as what's inside <title> tag -->
<meta name="author" content="David Kitley-McNamara">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<!-- Tells Twitter to expect information for a card -->
<meta name="twitter:title" content="TITLE OF POST OR PAGE">
<!-- Same as what's inside <title> tag -->
<!-- The title you want displayed when your page is linked to -->
<meta name="twitter:description" content="DESCRIPTION OF PAGE CONTENT">
<!-- Same as what's inside description meta tag -->
<!-- The description you want displayed when your page is linked to -->
<meta name="twitter:image" content="URL TO IMAGE">
<!-- This image must be less than 5MB, and either JPG, PNG, WEBP, or GIF -->
<!-- URL of image to be displayed when your site is linked to -->
<!-- Be careful when building non-static sites like your MS3 and MS4, this can be a little tricky -->
<meta name="twitter:image:alt" content="ALT TEXT FOR IMAGE">
<!-- Alt text for above image - an accessibility win -->
<meta name="twitter:site" content="@USERNAME">
<!-- The site's Twitter handle -->
<meta name="twitter:creator" content="@USERNAME">
<!-- Your personal Twitter handle -->