{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="authentication-background-image-container">
  <div class="container mt-5 p-3 col-md-6 offset-md-3 authentication-input-container">
    <div class="row">
      <div class="mt-3 col-md-10 offset-md-1">

        <h1>{% trans "Sign Up" %}</h1>
        <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-10 mt-3 offset-md-2">

        <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button type="submit" class="btn-primary">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}