<div class="col">
	{% if forloop.counter|divisibleby:2 %}
	<div class="card mb-4 bg-white shadow-sm border-brand-primary border-radius-shadow-primary">
		<div class="card-header-divisable-by-two py-3 border-top-radius-10">
			<h2 class="my-0 fw-bold text-white">{{ service.service_name }}</h2>
		</div>
		<div class="card-body">
			<h2 class="card-title pricing-card-title display-3 font-weight-bold">£{{ service.price }}</h2>
			<ul class="list-unstyled mt-3 mb-4">
				<li>{{ service.service_description }}</li>
			</ul>
		</div>
	</div>
	{% else %}
	<div class="card mb-4 bg-white shadow-sm border-brand-tertiary border-radius-shadow-tertiary">
		<div class="card-header py-3 border-top-radius-10">
			<h2 class="my-0 fw-normal">{{ service.service_name }}</h2>
		</div>
		<div class="card-body">
			<h2 class="card-title pricing-card-title display-5 font-weight-bold">£{{ service.price }}</h2>
			<ul class="list-unstyled mt-3 mb-4">
				<li>{{ service.service_description }}</li>
			</ul>
		</div>
	</div>
	{% endif %}
</div>