<div class="table-responsive">
	<table class="table text-center">
		<thead>
			<tr>
				<th class="text-start" style="width: 56%;">Service</th>
				<th style="width: 22%;">Duration</th>
				<th style="width: 22%;">Price</th>
			</tr>
		</thead>
		<tbody>
			{% for service in service_list %}
			<tr>
				<td class="text-start fw-bold">{{ service.service_name }}
					{% if service.service_description %} <small
						class="text-muted"> -
						{{ service.service_description }}</small>
					{% endif %}
				</td>
				<td>{{ service.service_duration }}</td>
				<td class="fw-bold">£{{ service.price }}</td>
			</tr>
			{% endfor %}
		</tbody>


	</table>
</div>