{% load auth_extras %}
{% block content %}
<nav class="navbar navbar-expand-xl navbar-burnt-red navbar-dark">
	<div class="container-fluid">
		<div class="logo-image"><span class="sr-only">Leannes Learners</span>
			<a href="/"><img
					src="https://res.cloudinary.com/dkitley1975/image/upload/c_scale,h_50/v1640614265/leannes_learners/logos/Leannes_Learners_Logo_white_text.png"
					class="img-fluid"
					alt="Leanne's Learners Logo made up of the words Leannes Learners in white, replacing the L's with Red L-Plates">
			</a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% with url_name=request.resolver_match.url_name %}
				<li class="nav-item">
					<a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page"
						href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if url_name == 'about-us' %}active{% endif %}"
						href="{% url 'about-us' %}">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if url_name == 'pass-plus' %}active{% endif %}"
						href="{% url 'pass-plus' %}">Pass Plus</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if url_name == 'prices' %}active{% endif %}"
						href="{% url 'prices' %}">Prices</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if url_name == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if url_name == 'contact_us' %}active{% endif %}"
						href="{% url 'contact-us' %}">Contact
						Us</a>
				</li>
				{% if request.user|has_group:"Pupil" %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						{{ user.get_username }}'s Area
					</a>
					<ul class="dropdown-menu navbar-light navbar-burnt-red navbar-dark"
						aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">Schedule a Lesson</a></li>
						<li><a class="dropdown-item" href="#">Lesson Diary</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item {% if url_name == 'terms-and-conditions' %}active{% endif %}"
								href="{% url 'terms-and-conditions' %}">Terms and Conditions</a></li>
					</ul>
				</li>
				{% endif %}
				{% if user.is_staff %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Staff Area</a>
					<ul class="dropdown-menu navbar-light navbar-burnt-red navbar-dark"
						aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="/admin/">Login to Admin</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				{% endif %}
				{% endwith %}
			</ul>
			<div class="d-flex">
				{% if user.is_authenticated %}
				<a class="nav-link" href="{% url 'account_logout' %}?next={{request.path}}"><i
						class="fas fa-sign-out-alt nav-link-white"></i>
					Logout</a>
				{% else %}
				<a class="nav-link" href="{% url 'account_signup' %}?next={{request.path}}"><i
						class="fas fa-user-plus nav-link-white"></i>
					Register</a>
				<a class="nav-link" href=" {% url 'account_login' %}?next={{request.path}}"><i
						class="fas fa-sign-in-alt nav-link-white"></i>
					Login</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>

{% endblock content %}